body{
    background-color: black;
}

.box {
    background-color: white;
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    top: 200px;
    
    /* transition duration are set in order of transition property */
    transition-property: background, border-radius, transform;
    
    /* transition-property: all; */
    /* we can also use all property when the overall duration is equal */
    transition-duration: 1s, 5s;
    /* transition-delay: 2s; */
    
}

.box:hover{
    background-color: red;
    border-radius: 50%;
    transform: rotateY(180deg);
}