 * will override every style if specifed
*/
/*

*{
	margin: 0;
	padding: 0;
}

*/

h1{
	color: green;
}


/*for the body tag
*/
body{
	background-image: url(/home/sujoy/Desktop/cssDemo/basic/images/background_master.jpg);
	background-color:#f4f4f4;
	color:#555555;

	font-family: Arial,Helvetica,sans-serif;
	font-size:18px;
	font-weight: normal;
	
	/*
	same as above (compact form)
	font:normal 18px Arial,Helvetica,sans-serif;
	*/

/*	add space between lines em is units
*/	line-height: 1.6em;
	margin: 0;
}

/*to style all the a tags
*/a{

/*	removing the underline in the tags
*/	text-decoration: none;
	color: white;
}


/* hover changes color of the a tags when we take the cursor over links
*/
a:hover{
	color: red;
}


/* active changes color of the tags on click
*/
a:active{
	color: green;
}

/* visited change the color of the links which have been visited
*/
/*
a:visited{
	color:green;
}
*/



/*we are using container class to wrap up the body in the browser
*/.container{

/*	wecound use 500px in width but by default it will support the default browser size but with % it is adjustable
*/	width:80%;

/*	margin is spacing around the elements auto will make all margin equal i.e in centre
*/	margin:auto;
}

/*we need to clear fix whenever we use float something
	before anathor markup tags
*/
.clr{
	clear:both;
}

/*targeting all button
*/
.button{
	background-color:#333333;
	color:#ffffff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background-color: red;
	color: #ffffff;
}

.box-1{
	/*background-color:#333333;*/
	color: #ffffff;

/*	border style solid dotted dashed double
	border-radius for curved edges
*/	
	border-radius: 15px;
	border: 5px red solid;
	border-width: 3px;
	border-bottom-width: 10px; 
	border-top-style: dotted;

	padding: 20px;

	margin-top: 20px;
}

/*
	text formating -> targetting all h1 tags in box-1 class
*/.box-1 h1{
	font-family: Tahoma;
	font-weight: 600;
	font-style: italic;
	text-decoration: underline;
	text-transform:uppercase;
	letter-spacing: 0.2em;
	/*word-spacing: 1em;*/
}

.box-2{
	/*background-color: #333333;*/
	color:#ffffff;
	margin-top: 20px;
	border-radius: 15px;
	border: 3px dotted red;
	padding: 20px;
	margin:20px 0;
}

.categories{
	border: 1px #cccccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
	color: white;
}

.categories ul{
	list-style: square;
	list-style: none;
}

.categories li{
	padding: 6px;
	border-bottom: dashed 2px white;
/*	to add any image before list
*/	
	list-style-image: url('/home/sujoy/Desktop/cssDemo/basic/images/check.png');
}

.my-form{
	padding: 20px;
}

/*adding space between the group items
targeting form-group inside my-form
*/
.my-form .form-group{
	padding-bottom: 15px;
}

/*.my-form .form-group label{
	color: white;
}*/

/*to make the label on seperate line form the input area, block view
*/
.my-form label{
	display: block;
	color: white;
}


/*targeting all text input and text area
*/
.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width:100%;
}

.block{
	float:left;
	width:33.3%;
	border:1px solid #cccccc;
	padding:10px;
/*	to compile and apply the above style into all the blocks we need 
	box-sizing: border-box
*/
	box-sizing: border-box;
}

.block p,h3{
	color:white;
}

#main-block{
	float:left;
	width:70%;
	padding:15px;
	box-sizing: border-box;
	color: white;
}
/*#main-block p{
	color: white;
}*/

.sidebar{
	float:right;
	width:30%;
	background-color:#333333;
	color:#ffffff;
	padding:15px;
	box-sizing: border-box;
	color: white;
}

.p-box{
	width:800px;
	height: 500px;
	border:1px solid #000000;
	margin-top: 20px;
	margin-left: 20px;
	/*we have to make this relative in order to move around 
	the h1 and h2 tags inside the margin*/
	position:relative;
	background-image: url(/home/sujoy/Desktop/cssDemo/basic/images/background.png);

/*	to avoid image repeat we use background-repeat*/
	background-repeat: no-repeat;

/* we can also adjust the position of the background image */
	/*background-position: 100px 200px;*/

/* we can also use this */
	background-position: center center;
}

.p-box h1{
	/*along-side with relative position of the p-box we need to 
	make the h1 tag absolute to move around inside the margin*/ 
	position:absolute;
	top:100px;
	left:200px;
}

.p-box h2{
	/*along-side with relative position of the p-box we need to 
	make the h2 tag absolute to move around inside the margin*/ 
	position:absolute;
	bottom:40px;
	right:100px;
}

/*to make something fixed in webpage
*/
.fix-me{
	position: fixed;
	/* right,left, bottom*/
	top: 200px;
}

.my-list{
	color:white;
}

/* psuedo class*/
.my-list li:first-child{ 

/* psuedo class */
.my-list li:first-child{
	background-color:red;
}

.my-list li:last-child{
	background-color:blue;
}

/* we can target any element inside parenthesis
in this case we are targeting the third (3) list element
*/
.my-list li:nth-child(3){
	background-color:lightgreen;
}


/* we can also target as all even or odd*/

/*
.my-list li:nth-child(even){
	background-color:black; 
}
.my-list li:nth-child(odd){
	background-color:lightgreen;
}
*/
