*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    /* short form */
    font: normal 12px Verdana, Geneva, Tahoma, sans-serif;

    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:red;
}
a:active{
    color:green;
}
/* a:visited{
    color: yellow;
} */
.clr{
    clear: both;
}
.box-1{
    background-color:black;
    color: white;
    border: 5px red dotted;
    padding: 10px;
    margin: 20px;
}

.box-1 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.box-2{
    border: 3px dotted red;
    padding: 10px;
    margin: 20px;
    background-color:burlywood;

}
.containers{
    width: 80%;
    margin: auto;
}

.button{
    background-color: black;
    color: blanchedalmond;
    padding:6px;
    border: none;
}
.button:hover{
    background-color:red;
    color: white;
}

.categories{
    margin-left: 20px;
    border: 1px black solid;
    padding: 10px;
}
.categories li{
    margin-left: 30px;
    padding-bottom: 6px;
    border-bottom: solid 1px red;
    list-style-image: url('/basic/images/check.png');
}
.categories h2{
    text-align: center;
}
.categories ul{
    list-style: none;
}

.my-form{
    padding: 20px;
}
.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 33.3%;
    padding: 10px;
    border: 1px solid black;
    /* to reformat the three blocks from the html */
    box-sizing: border-box; 

}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: black;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: solid black 1px;
    margin-top: 30px;
    position: relative;
    
    background-image: url("../images/tree-736885.jpg");
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.p-box h1{
    position: absolute;
    top: 30px;
    left: 100px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

.my-list li:first-child{
    background-color: khaki;
}
.my-list li:last-child{
    background-color:lightgreen;
}
.my-list li:nth-child(5){
    background-color:lightpink;
}
.my-list li:nth-child(even){
    background-color:lightpink;
}
.my-list li:nth-child(odd){
    background-color:lightseagreen;
}